$color_1: darkred;
$color_2: #25d366;
$color_3: #37374d;
$color_4: black;
$color_5: white;
$color_6: #3d3c42;
$color_7: #898989;
$color_8: #ffffea;
$color_f: #4267b2;
$color_i: #c13584;
$color_t: #1da1f2;
$color_w: #25d366;
$color_m: #db4437;
$background-color_1: #f2f2f2;
$background-color_2: #3d3c42;